.graph__wrapper {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    --selected-color: #f59e0b;
    margin-right: 24px;
}

.graph__mobile-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
}

.graph__mobile-header__logout-wrapper {
    margin-left: auto;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    pointer-events: all;
}

.graph__task-card {
    position: absolute;
    width: var(--task-card-width);
    height: var(--task-card-height);
    background: var(--secondary-200);
    --card-border-radius: 8px;
    --card-header-height: 38px;
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.graph__task-card--selected {
    outline: var(--selected-color) solid 4px;
}

.graph__task-card-header {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    background: var(--secondary-300);
    padding: 8px;
    height: var(--card-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graph__task-card-title {
    margin: 0;
}

.graph__task-card-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    height: calc(100% - var(--card-header-height));
}

.graph__task-card__date-time-group {
    display: flex;
    align-items: center;
}

.graph__task-card__date-time-group > * {
    flex: 1 0 0;
}

.graph__task-card__icon-group {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
}

.graph__task-card__body-icon {
    width: 16px;
    height: 16px;
}

.graph__task-card-description {
    overflow: auto;
    margin: 0;
    margin-top: 8px;
}

.graph__dependency-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.graph__task-dependency {
    stroke: var(--black);
}

.graph__task-dependency--selected {
    stroke: var(--selected-color);
}

@media screen and (min-width: 786px) {
    .graph__wrapper {
        margin: 0;
    }

    .graph__mobile-header {
        display: none;
    }
}
