.app {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.app > main {
    flex-grow: 1;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .app {
        flex-direction: column;
    }

    .app > main {
        width: 768px;
        margin: 32px auto;
        padding: 8px;
    }
}
