.page-card {
    margin-bottom: 32px;
}

.page-card__body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .page-card-wrapper {
        width: 768px;
        margin: 0 auto;
        padding: 40px 8px;
    }

    .page-card {
        margin: 0;
        border-radius: 8px;
        overflow: hidden;
        background: var(--secondary-200);
    }

    .page-card__body {
        padding: 16px;
    }
}
