.task-view__title {
    margin: 0;
}

.task-view__icon-group {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
}

.task-view__description {
    margin: 0;
}

.task-view__body-icon {
    width: 20px;
    height: 20px;
}

.task-view__next-tasks-label {
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
}

.next-task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.next-task-list__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-300);
    padding: 8px;
    width: 100%;
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
}

.next-task-list__icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .next-task-list__link {
        background: var(--gray-500);
        color: var(--white);
    }
}
