.task-view__header-actions {
    position: relative;
}

.task-view__open-actions-button {
    border: none;
    background: var(--gray-700);
    color: var(--white);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
}

.task-view__open-actions-icon {
    width: 100%;
    height: 100%;
}

.task-view__actions-menu {
    position: absolute;
    top: calc(50% + 4px);
    right: 0;
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}

.task-view__header-actions:focus-within > .task-view__actions-menu {
    display: flex;
}

.task-view__action-item {
    width: 100%;
}

.task-view__action-button {
    padding: 8px 16px;
    background: var(--gray-700);
    display: block;
    width: 100%;
    border: none;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
}

.task-view__action-button:hover {
    background: var(--gray-500);
}

.task-view__title {
    margin: 0;
}

.task-view__body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-view__icon-group {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
}

.task-view__description {
    margin: 0;
}

.task-view__body-icon {
    width: 20px;
    height: 20px;
}

.task-view__next-tasks-label {
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
}

.next-task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.next-task-list__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-300);
    padding: 8px;
    width: 100%;
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
}

.next-task-list__icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .next-task-list__link {
        background: var(--gray-500);
        color: var(--white);
    }
}
